.DS_Store
.metadata
eclipse-workspace/.metadata/.log

*.log

*.prefs

eclipse-workspace/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log

eclipse-workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
