.DS_Store
.metadata
eclipse-workspace/.metadata/.log

*.log

*.prefs

eclipse-workspace/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log

eclipse-workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs

eclipse-workspace/pololu3pi/Debug/main.d

eclipse-workspace/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

eclipse-workspace/pololu3pi/Debug/pololu3pi.elf

eclipse-workspace/pololu3pi/Debug/pololu3pi.lss

eclipse-workspace/pololu3pi/Debug/pololu3pi.map

eclipse-workspace/.metadata/.plugins/org.eclipse.cdt.core/pololu3pi.1352522331738.pdom

eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

eclipse-workspace/pololu3pi/.cproject
